@use '../scss/common/variables' as v;
@use '../scss/common/layout' as *;
@use '../scss/common/mixin' as m;


.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 58px;
    left: 3.333%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    background-color: v.$c-green;
    height: 210px;
    border-radius: 24px;
    width: 91.7948%;
    text-align: center;


    @include m.mq(pc) {
        visibility: visible;
        font-size: 16px;
        font-weight: bold;
        opacity: 1;
        position: static;
        background-color: #fff;
        height: 60px;
        justify-content: flex-end;
    }

    a {
        color: #fff;

        @include m.mq(pc) {
            color: #000;
        }
    }

    &-active {
        visibility: visible;
        opacity: 1;
    }



    &__btn {
        position: absolute;
        right: 4.3%;
        top: 25px;
        display: block;
        width: 24px;
        height: 18px;
        text-align: center;


        @include m.mq(pc) {
            display: none;
        }
    }

    &__bar {
        display: block;
        width: 24px;
        height: 2px;
        margin: 0 auto;
        background-color: #000;
    }

    &__bar:not(:last-child) {
        margin-bottom: 7px;
    }

    &__list {

        @include m.mq(pc) {
            display: flex;
            column-gap: 38px;
            margin-top: 7px;
            margin-right: 7px;
        }

        li {
            padding: 10px 0 15px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;

            @include m.mq(pc) {
                padding: 0;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 1.1%;
    background-color: #fff;
    padding: 0 3.846% 0 3.333%;

    @include m.mq(pc) {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
        top: 1.5%;
        left: 0.4%;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include m.mq(pc) {
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1176px;
        }
    }

    &_logo_pc {
        vertical-align: middle;
    }

    &__title {
        width: 100%;
    }

}

.nav-top {
    display: block;

    @include m.mq(pc) {
        display: none;
    }
}

.mv {
    padding: 0 4.1025% 0 4.1025%;

    @include m.mq(pc) {
        width: 100%;
        max-width: 1198px;
        margin: 0 auto;
        padding: 0 14px;
    }

    &__inner {
        margin-top: 75px;

        @include m.mq(pc) {
            margin: 140px auto 60px;
            max-width: 1100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;

        @include m.mq(pc) {
            font-size: 40px;
            margin-bottom: 0;
            flex: 1;
        }
    }

    &__text {
        font-size: 15px;
        line-break: anywhere;
        padding-right: 13px;
        margin-bottom: 25px;

        @include m.mq(pc) {
            max-width: 530px;
            margin-bottom: 0;
            padding: 0;
            padding-top: 22px;
            flex: 1;
        }
    }

    &__image {
        text-align: center;
        max-width: 100%;
    }
}

.mv_top_pc {
    width: 100%;
    height: auto;
}

.title-en {
    color: v.$c--title-en;
    font-weight: 600;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    padding-top: 49px;
    padding-bottom: 2px;

    @include m.mq(pc) {
        font-size: 20px;
        padding: 53px 0 9px;
    }
}

.title-ja {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
    line-height: 1;
    letter-spacing: 0;

    @include m.mq(pc) {
        font-size: 28px;
        margin-bottom: 32px;
    }
}

.news .title-ja {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
    line-height: 1;
    letter-spacing: 0;

    @include m.mq(pc) {
        font-size: 28px;
        margin-bottom: 32px;
    }

}

.features .title-en {
    @include m.mq(pc) {
        font-size: 20px;
        padding: 56px 0 7px;
    }
}


.features .title-ja {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 1;
    letter-spacing: 0;

    @include m.mq(pc) {
        font-size: 28px;
        margin-bottom: 32px;
        letter-spacing: 0.2px;
    }
}

.case .title-ja {

    @include m.mq(pc) {
        font-size: 28px;
        margin-bottom: 13px;
    }
}

.section__title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about {

    @include m.full-bleed;

    @include m.mq(pc) {
        padding-bottom: 60px;
    }

    &__box {
        display: grid;
        place-items: center;
        background-image: url('../assets/images/top/index_about_pc_01.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;

        @include m.mq(pc) {
            display: flex;
            flex-direction: row-reverse;
            background-image: none;
            max-width: 998px;
            column-gap: 15.3%;
            justify-content: start;
            margin: 0 auto;
            padding: 0 14px;
        }
    }

    &__inner {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 4% 7% 4.1% 6%;
        border-radius: 32px;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
        max-width: 92.3076%;
        width: 91%;
        position: absolute;

        @include m.mq(pc) {
            position: relative;
            max-width: 415px;
            padding: 0;
            box-shadow: none;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: bold;
        text-align: start;
        line-height: 1.7;
        letter-spacing: -0.1px;
        margin-bottom: 2.5%;


        @include m.mq(pc) {
            font-size: 20px;
            margin-bottom: 5.7%;
            margin-top: -1.2%;
        }
    }

    &__image {
        width: 100%;

        @include m.mq(pc) {
            max-width: 390px;
        }
    }

    &__description {
        letter-spacing: -1px;
        line-height: 1.65;
    }
}

.text-middle {
    @include m.mq(pc) {
        display: block;
    }
}

.features {

    padding: 0 4.1025% 0 4.1025%;
    margin-bottom: 0;
    background-color: #f3f9f6;
    padding-bottom: 54px;

    @include m.mq(pc) {
        padding-bottom: 64px;
        margin-bottom: 2px;
    }


    &__inner {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 17px;

        @include m.mq(pc) {
            width: 100%;
            max-width: 1200px;
            flex-direction: row;
            column-gap: 4px;
        }
    }

    &__box-item {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;


        @include m.mq(pc) {
            width: 369px;
        }
    }

    &__text {
        font-size: 18px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 0 0 24px 24px;
        padding: 11px 16px 17px 16px;
        line-break: anywhere;

        @include m.mq(pc) {
            font-size: 19px;
            padding: 12px 8px 16px 21px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

.intro {

    padding: 0 4.1025% 0 4.1025%;
    margin-bottom: 54px;

    @include m.mq(pc) {
        padding: 0;
        margin-bottom: 64px;
    }


    &__box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include m.mq(pc) {
            max-width: 1100px;
            margin: 0 auto;
            row-gap: 36px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$c-green;
        border-radius: 24px;
        height: 140px;
        padding: 0px 10.363% 0px 6.5698%;
        column-gap: 17px;
        line-break: anywhere;

        @include m.mq(pc) {
            height: 185px;
            padding: 45px 55px 45px 45px;
            flex-direction: row;
            column-gap: 20px;
        }
    }

    &__item-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: v.$c-green;
        border-radius: 24px;
        height: 140px;
        padding: 0px 15.363% 0px 6.5698%;
        column-gap: 17px;
        white-space: wrap;

        @include m.mq(pc) {
            height: 185px;
            padding: 0px 9.363% 0px 2.5698%;
            flex-direction: row;
            column-gap: 8%;
            width: 47.727%;
        }
    }

    &__item-01:hover {
        @include m.mq(pc) {
            background-color: #dffaec;
        }
    }

    &__item-02 {
        display: flex;
        align-items: center;
        background-color: v.$c-green;
        border-radius: 24px;
        height: 140px;
        padding: 0px 14.363% 0px 0.5698%;
        column-gap: 6%;
        justify-content: center;

        @include m.mq(pc) {
            height: 185px;
            padding: 0px 8.363% 0px 2.5698%;
            flex-direction: row;
            column-gap: 8%;
            width: 47.727%;
        }
    }

    &__image {
        @include m.mq(pc) {
            width: 37%;
            height: auto;
        }
    }

    &_pc-01 {
        border-radius: 50%;
        max-width: none;
    }

    &_pc-02 {
        border-radius: 50%;
        max-width: none;
    }

    &_pc-03 {
        border-radius: 50%;
        max-width: none;
    }

    &_pc-04 {
        border-radius: 50%;
        max-width: none;
    }

    &_pc-05 {
        border-radius: 50%;
        max-width: none;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        color: #fff;

        @include m.mq(pc) {
            font-size: 24px;
            text-align: left;
            line-break: anywhere;
        }
    }

    &__name-01 {
        font-size: 18px;
        font-weight: bold;
        color: #fff;

        @include m.mq(pc) {
            font-size: 24px;
            text-align: left;
            position: relative;
        }
    }


    &__name-02 {
        display: block;

        @include m.mq(pc) {
            display: inline;
        }
    }

    &__row-large {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include m.mq(pc) {
            flex-direction: row;
            column-gap: 5%;
        }

        .intro__item {
            @include m.mq(pc) {
                width: 47.727%;
                padding: 16px;
                text-align: center;
            }
        }
    }

    .intro__item-01:hover .intro__name-01::before {
        @include m.mq(pc) {
            content: 'ロボット技術';
            position: absolute;
            inset: 0;
            color: v.$c-d-green;
            display: flex;
            align-items: center;
        }
    }

    .intro__item-01:hover .intro__name-01 {
        @include m.mq(pc) {
            color: transparent;
        }
    }

    &__row-small {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @include m.mq(pc) {
            flex-direction: row;
            column-gap: 5%;
        }

        .intro__item {
            @include m.mq(pc) {
                flex: 1 1 calc((100% - 100px) / 3);
                padding: 1% 2.7% 1% 2%;
                text-align: center;
                height: 152px;
                column-gap: 10%;
            }
        }

        .intro__name {
            @include m.mq(pc) {
                font-size: 20px;
            }
        }
    }

}

.case {
    padding: 0 4.1025% 0 4.1025%;
    background-color: #f3f9f6;
    padding-bottom: 50px;

    @include m.mq(pc) {
        padding: 0 7.1025% 48px 7.2025%;
    }


    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 25px;

        @include m.mq(pc) {
            flex-direction: row;
            column-gap: 0;
        }
    }

    &__item {
        width: 100%;

        @include m.mq(pc) {
            flex: 1 1 calc((100% - 60px) / 3);
            padding: 16px;
        }
    }

    &__item:first-child {
        @include m.mq(pc) {
            padding-bottom: 40px;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    &__name {
        color: v.$c-green;
        font-size: 18px;
        font-weight: bold;
        margin-top: 8px;

        @include m.mq(pc) {
            font-size: 19px;
        }
    }
}

.news {
    padding: 0 4.1025% 0 4.1025%;


    &__inner {

        @include m.mq(pc) {
            max-width: 900px;
            margin: 0 auto;
        }
    }

    &__item {
        border-bottom: solid 2px #ddd;
        padding: 14px 0 9px;

        @include m.mq(pc) {
            display: flex;
            padding: 11px 0 11px;
            align-items: center;
        }
    }

    &__item:nth-child(1) {
        border-top: solid 2px #ddd;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        padding-bottom: 9px;
    }

    &__date {
        display: inline-block;
        width: 92px;
        font-size: 15px;
        color: v.$c-l-black;

        @include m.mq(pc) {
            font-size: 14px;
            width: 90px;
        }
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 134px;
        height: 28px;
        margin-left: 0;
        font-size: 13px;
        color: #fff;
        background-color: v.$c-brown;
        border-radius: 4px;

        @include m.mq(pc) {
            margin-right: 24px;
        }
    }

    &__title {
        display: block;
        line-height: 27px;
        font-size: 15px;
        color: v.$c-green;
        font-weight: bold;

        @include m.mq(pc) {
            display: inline;
        }
    }

    &__btn {
        max-width: 300px;
        padding: 12px 16px 11px;
        margin: 24px auto 0;
        background-color: v.$c-green;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        border-radius: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;

        @include m.mq(pc) {
            margin: 29px auto 0;
        }

        &-box {
            margin-bottom: 61px;

            @include m.mq(pc) {
                margin-bottom: 67px;
            }
        }
    }

    &__btn:hover {
        @include m.mq(pc) {
            background-color: v.$c-hover-green;
            color: #fff;
            opacity: 1;
        }
    }
}

.footer {
    &__inner {
        background-color: v.$c-d-green;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include m.mq(pc) {
            height: 96px;
        }
    }

    &__list {
        font-size: 13px;
        color: #fff;
        letter-spacing: 0.3px;
        margin-left: 2px;

        & a {
            color: #fff;
        }

        @include m.mq(pc) {
            font-size: 15px;
            margin-left: 10px;
            letter-spacing: 0px;
            margin-right: 1px;
        }
    }

    &-line {
        margin-right: 3px;
        font-size: large;

        @include m.mq(pc) {
            margin-right: 0;
            font-size: x-large;
        }
    }
}