@use '../scss/common/variables' as v;
@use '../scss/common/layout' as *;
@use '../scss/common/mixin' as m;



.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 58px;
    left: 3.333%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    background-color: v.$c-green;
    height: 210px;
    border-radius: 24px;
    width: 91.7948%;
    text-align: center;


    @include m.mq(pc) {
        visibility: visible;
        font-size: 16px;
        font-weight: bold;
        opacity: 1;
        position: static;
        background-color: #fff;
        justify-content: flex-end;
        height: auto;
    }

    a {
        color: #fff;

        @include m.mq(pc) {
            color: #000;
        }
    }

    &-active {
        visibility: visible;
        opacity: 1;
    }



    &__btn {
        position: absolute;
        right: 4%;
        top: 23px;
        display: block;
        width: 24px;
        height: 18px;
        text-align: center;


        @include m.mq(pc) {
            display: none;
        }
    }

    &__bar {
        display: block;
        width: 24px;
        height: 2px;
        margin: 0 auto;
        background-color: #000;
    }

    &__bar:not(:last-child) {
        margin-bottom: 5px;
    }

    &__list {

        @include m.mq(pc) {
            display: flex;
            column-gap: 38px;
        }

        li {
            padding: 10px 0 15px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;

            @include m.mq(pc) {
                padding: 0;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
            }
        }
    }
}

.burger-menu a.mv__btn-price {
    @include m.mq(pc) {
        color: v.$c-d-green;
    }
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 4%;
    background-color: #fff;

    @include m.mq(pc) {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0;
        z-index: 1;
        left: 0;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 53px;

        @include m.mq(pc) {
            justify-content: space-between;
            width: 83.5%;
            margin: 0 auto;
            margin-top: 29px;
            height: 49px;
        }
    }

    &__title {
        @include m.mq(pc) {
            width: 100%;
        }
    }


    &_logo_pc {
        vertical-align: middle;
    }

}

.nav-top {
    display: block;

    @include m.mq(pc) {
        display: none;
    }
}


.mv {

    &__price {
        padding: 0 3.846% 0 4.333%;

        @include m.mq(pc) {
            margin: 0 auto;
            max-width: 1200px;
            position: relative;
            padding: 0;
        }
    }

    &__image {
        max-width: 1200px;
        margin-top: 83px;

        @include m.mq(pc) {
            margin-top: 153px;
        }
    }

    &_top_pc {
        width: 100%;

        @include m.mq(pc) {
            max-width: 100%;
        }
    }
}

.price__title {
    text-align: center;
}

.info {
    padding-right: 3.4%;
    text-align: end;
    margin-bottom: 26px;
    font-size: 12px;
    letter-spacing: 0.4px;

    @include m.mq(pc) {
        margin: 18px auto 50px;
        max-width: 1200px;
        padding: 0;
        letter-spacing: 0;
    }
}

.info-arrow {
    margin-right: 2px;
    margin-left: 3px;
}

.price {
    padding-bottom: 15px;
    margin-bottom: 51px;

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin: 18px 0 15px;
        text-align: start;

        @include m.mq(pc) {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 327px;
            height: 113px;
            background-color: #fff;
            border-radius: 0 40px 0 0;
            font-size: 36px;
            margin: 0;
        }
    }
}

.gallery {
    padding: 0 3.846% 0 4.333%;
    margin-bottom: 65px;

    @include m.mq(pc) {
        margin: 0 auto;
        max-width: 800px;
        padding: 0;
        margin-bottom: 60px;
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;

        @include m.mq(pc) {
            font-size: 28px;
            margin-bottom: 13px;
        }
    }

    img {
        border-radius: 24px;
    }
}

.gallery .title-box {
    @include m.mq(pc) {
        margin-bottom: 35px;
    }
}

/* ドット全体の配置 */
.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
    list-style: none;
    gap: 2px;
    position: absolute;
    bottom: -3px;
}

/* 各ドットのデザイン */
.slick-dots li {
    display: inline-block;
    margin: 2px;
    width: 8px;
    height: 8px;
}

/* ドットボタンの見た目 */
.slick-dots li button {
    font-size: 0;
    /* ← これ重要！文字が見えないようにする */
    line-height: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #eee;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* アクティブなドット */
.slick-dots li.slick-active button {
    background-color: v.$c-d-green;
}


.slick-dots li button::before {
    content: none;
}

.title-box {
    border: 2px solid;
    border-image: linear-gradient(to right, v.$c-d-green 0%, v.$c-d-green 14%, #ddd 14%, #ddd 100%) 1;
    margin-bottom: 24px;

    @include m.mq(pc) {
        border-image: linear-gradient(to right, v.$c-d-green 0%, v.$c-d-green 12.2%, #ddd 12.2%, #ddd 100%) 1;
    }
}

.features {
    padding: 0 3.846% 0 4.333%;
    margin-bottom: 50px;

    @include m.mq(pc) {
        margin: 0 auto;
        max-width: 800px;
        padding: 0;
        margin-bottom: 55px;
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 4px;

        @include m.mq(pc) {
            font-size: 28px;
            margin-bottom: 13px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        row-gap: 34px;
        line-break: anywhere;

        @include m.mq(pc) {
            flex-direction: row;
            column-gap: 31px;
        }
    }

    &__item {

        @include m.mq(pc) {
            width: calc((100% - 62px) / 3);
        }
    }

    &__text {
        font-size: 18px;
        font-weight: bold;
        padding-right: 10px;
    }

    img {
        width: 100%;
    }

    &__image {
        margin-bottom: 7px;
    }
}

.features .title-box {
    @include m.mq(pc) {
        margin-bottom: 32px;
    }
}

.price-02 {
    padding: 0 3.846% 0 4.333%;
    margin-bottom: 40px;

    @include m.mq(pc) {
        margin: 0 auto;
        max-width: 800px;
        padding: 0;
        margin-bottom: 45px;
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 3px;

        @include m.mq(pc) {
            font-size: 28px;
            margin-bottom: 12px;
        }
    }

    &__taxin {
        font-size: 32px;
        font-weight: bold;
        font-family: Montserrat, sans-serif;
    }

}

.price-02 .title-box {
    margin-bottom: 10px;

    @include m.mq(pc) {
        margin-bottom: 20px;
    }
}

.tax {
    font-size: 16px;
    font-weight: bold;
}

.spec {
    padding: 0 3.846% 0 4.333%;

    @include m.mq(pc) {
        margin: 0 auto;
        max-width: 800px;
        padding: 0;
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 4px;

        @include m.mq(pc) {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }

    &__inner {
        @include m.mq(pc) {
            max-width: 740px;
            margin: 0 auto;
        }
    }

    &__sub {
        font-size: 20px;
        font-weight: bold;
        border-left: solid 2px v.$c-d-green;
        margin-bottom: 16px;
        padding-left: 17px;

        @include m.mq(pc) {
            font-size: 24px;
            margin-bottom: 26px;
        }
    }

    &-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 65px;

        @include m.mq(pc) {
            margin-bottom: 70px;
        }


        &__item {
            @include m.mq(pc) {
                display: flex;
            }
        }
    }
}

.spec .title-box {
    margin-bottom: 20px;

    @include m.mq(pc) {
        margin-bottom: 30px;
    }
}

.label-name {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 6px 0 5px 19px;

    @include m.mq(pc) {
        width: 28%;
        padding: 15px 0 20px 21px;
    }
}

.value {
    padding: 4px 0 5px 18px;
    text-align: left;
    border: solid 1px #f5f5f5;
    font-size: 16px;

    @include m.mq(pc) {
        width: 75%;
        padding: 14px 0 14px 21px;
    }
}

.contact {
    position: relative;
    // width: 100%;

    @include m.mq(pc) {
        margin: 0 auto;
        max-width: 1400px;
    }

    img {
        max-width: 100%;
        filter: brightness(50%);
        width: 100%;
    }


    &__btn {
        padding: 28px 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px #fff;
        height: 80px;

    }

    &__btn:hover {
        @include m.mq(pc) {
            background-color: #fff;
            color: v.$c-d-green;
            opacity: 1;
        }
    }

    &__btn-box {
        position: absolute;
        bottom: 39%;
        left: 0;
        width: 100%;
        padding: 0 16px;

        @include m.mq(pc) {
            width: 390px;
            bottom: 41%;
            left: 36%;
        }
    }
}

.footer {
    &__inner {
        background-color: v.$c-d-green;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include m.mq(pc) {
            height: 96px;
        }
    }

    &__list {
        font-size: 13px;
        color: #fff;

        & a {
            color: #fff;
        }

        @include m.mq(pc) {
            font-size: 15px;
            letter-spacing: -1px;
        }
    }

    &-line {
        margin-right: 2px;
        margin-left: 5px;
        font-size: large;

        @include m.mq(pc) {
            margin-left: 14px;
            margin-right: 0px;
            font-size: 24px;
        }
    }
}