@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.container {
  padding: 0 3.846% 0 3.333%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .container-narrow {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .container-wide {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 58px;
  left: 3.333%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  background-color: #09947b;
  height: 210px;
  border-radius: 24px;
  width: 91.7948%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .burger-menu {
    visibility: visible;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    position: static;
    background-color: #fff;
    justify-content: flex-end;
    height: auto;
    margin-right: 5px;
  }
}
.burger-menu a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .burger-menu a {
    color: #000;
  }
}
.burger-menu-active {
  visibility: visible;
  opacity: 1;
}
.burger-menu__btn {
  position: absolute;
  right: 4%;
  top: 23px;
  display: block;
  width: 24px;
  height: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .burger-menu__btn {
    display: none;
  }
}
.burger-menu__bar {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto;
  background-color: #000;
}
.burger-menu__bar:not(:last-child) {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .burger-menu__list {
    display: flex;
    column-gap: 33px;
    margin-top: 9px;
  }
}
.burger-menu__list li {
  padding: 10px 0 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .burger-menu__list li {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 768px) {
  .burger-menu a.mv__btn-qa {
    color: #168352;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  padding: 0 2.846% 0 4.333%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    top: 1.8%;
    left: 0.2%;
  }
}
.header__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 53px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .header__title {
    width: 100%;
  }
}
.header_logo_pc {
  vertical-align: middle;
}

.nav-top {
  display: block;
}
@media screen and (min-width: 768px) {
  .nav-top {
    display: none;
  }
}

.mv__qa {
  padding: 0 3.846% 0 3.333%;
}
@media screen and (min-width: 768px) {
  .mv__qa {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    margin-top: 154px;
    padding: 0;
  }
}
.mv__image {
  margin-top: 81px;
}
.mv_top_pc {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mv_top_pc {
    max-width: 100%;
  }
}

.qa__title {
  text-align: start;
}

.info {
  padding-right: 3.8%;
  text-align: end;
  margin-bottom: 36px;
  font-size: 12px;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 768px) {
  .info {
    margin: 19px auto 60px;
    max-width: 1200px;
    padding: 0;
    letter-spacing: 0;
  }
}
.info-arrow {
  margin-left: 5.6px;
}
@media screen and (min-width: 768px) {
  .info-arrow {
    margin-left: 6.6px;
  }
}

.qa {
  padding: 0 3.846% 0 4.333%;
  padding-bottom: 15px;
  margin-bottom: 130px;
}
@media screen and (min-width: 768px) {
  .qa {
    padding: 0;
    margin-bottom: 73px;
  }
}
.qa__title {
  font-size: 30px;
  font-weight: bold;
  margin: 17px 0 16px;
}
@media screen and (min-width: 768px) {
  .qa__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 327px;
    height: 113px;
    background-color: #fff;
    border-radius: 0 40px 0 0;
    font-size: 36px;
    margin: 0;
  }
}
.qa__box {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .qa__box {
    padding: 0 14px;
    max-width: 828px;
  }
}
.qa__label {
  color: #168352;
  font-size: 11px;
  border: solid 1px #168352;
  border-radius: 4px;
  min-width: 100px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  line-height: 1;
}
.qa__item {
  border: solid 1px #ccc;
  border-radius: 16px;
  margin-bottom: 24.3px;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .qa__item {
    margin-bottom: 26.4px;
  }
}
.qa__question {
  line-height: normal;
  margin: 0;
}
.qa__icon {
  font-size: 23px;
  margin-right: 22px;
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.qa__answer {
  padding: 1.6px 22px 16px 25px;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .qa__answer {
    padding: 16px 29px 16px 32px;
  }
}
.qa__answer-last {
  padding: 10px 22px 16px 25px;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .qa__answer-last {
    padding: 17px 22px 16px 32px;
  }
}

.label-flex {
  display: flex;
  column-gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
}

.q-mark {
  margin-right: 17px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .q-mark {
    font-size: 24px;
    margin-right: 14px;
  }
}

.q-top {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-top: 24px;
  width: 94%;
}
@media screen and (min-width: 768px) {
  .q-top {
    padding-left: 31px;
    padding-top: 22px;
    width: 96.3%;
    padding-bottom: 9px;
  }
}

.mark-q {
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #168352;
  display: flex;
  display: flex;
  align-items: flex-start;
  min-height: 24px;
}
@media screen and (min-width: 768px) {
  .mark-q {
    margin-top: 0;
  }
}

.accrdion-q {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 63%;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .accrdion-q {
    font-size: 18px;
    max-width: 82%;
  }
}

.accrdion-a {
  font-size: 16px;
}

.footer__inner {
  background-color: #168352;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    height: 96px;
  }
}
.footer__list {
  font-size: 13px;
  color: #fff;
  letter-spacing: 0;
}
.footer__list a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__list {
    font-size: 14px;
  }
}
.footer-line {
  margin-right: 2px;
  margin-left: 5px;
  font-size: large;
}
@media screen and (min-width: 768px) {
  .footer-line {
    margin-left: 8px;
    margin-right: 0px;
    font-size: 21px;
  }
}